// SPDX-FileCopyrightText: 2026 Open Salamander Authors & Red Salamander Authors
// SPDX-FileContributor: Ported to Open Salamander framework by fila73
// SPDX-License-Identifier: GPL-2.0-or-later

#pragma code_page(65001)

#include "gdrive.rh"

#define APSTUDIO_READONLY_SYMBOLS
#include "winresrc.h"
#include "gdrive.rh2"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE 
BEGIN
    "gdrive.rh\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winresrc.h""\r\n"
    "\r\n"
    "#include ""gdrive.rh2""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)\r\n"
    "LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL\r\n"
    "#include ""gdrive.rc2""\r\n"
    "#endif\r\n"
    "\0"
END
#endif // APSTUDIO_INVOKED

IDA_ACCELERATORS ACCELERATORS 
BEGIN
    VK_F5,          CM_REFRESH,             VIRTKEY, NOINVERT
END

#endif // Neutral resources

#ifndef APSTUDIO_INVOKED
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#include "gdrive.rc2"
#endif
#endif
