// SPDX-FileCopyrightText: 2026 fila73
// SPDX-FileContributor: Inspired by Red Salamander
// SPDX-License-Identifier: GPL-2.0-or-later

#pragma code_page(65001)

#include "lang.rh"

#define APSTUDIO_READONLY_SYMBOLS
#include "winresrc.h"
#include "../gdrive.rh2"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CSY)
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE 
BEGIN
    "lang.rh\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winresrc.h""\r\n"
    "#include ""../gdrive.rh2""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CSY)\r\n"
    "LANGUAGE LANG_CZECH,SUBLANG_DEFAULT\r\n"
    "#include ""lang_cs.rc2""\r\n"
    "#endif\r\n"
    "\0"
END
#endif // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CFGPAGEGENERAL DIALOGEX 66, 53, 250, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "Účty a obecné"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Google účty",IDC_STATIC_1,4,4,242,76
    LTEXT           "Aktivní účet:",IDC_STATIC_2,12,18,55,8
    COMBOBOX        IDC_CFG_ACCOUNTS_COMBO,70,16,166,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Přidat účet...",IDC_CFG_ACCOUNT_ADD_BTN,12,34,68,14
    PUSHBUTTON      "&Aktivovat",IDC_CFG_ACCOUNT_SWITCH_BTN,84,34,68,14
    PUSHBUTTON      "&Odebrat",IDC_CFG_ACCOUNT_REMOVE_BTN,156,34,68,14
    CONTROL         "&Zobrazovat Sdílené disky (Team Drives)",IDC_CFG_USE_SHARED_DRIVES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,58,220,10

    GROUPBOX        "Vlastní OAuth 2.0 Client",IDC_STATIC_3,4,84,242,92
    LTEXT           "OAuth &Client ID:",IDC_STATIC_4,12,96,80,8
    EDITTEXT        IDC_CFG_CLIENTID,12,107,224,14,ES_AUTOHSCROLL
    LTEXT           "OAuth Client &Secret:",IDC_STATIC_5,12,124,80,8
    EDITTEXT        IDC_CFG_CLIENTSECRET,12,135,156,14,ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON      "&Uložit klíče",IDC_CFG_ACCOUNT_SAVE_BTN,174,135,62,14
    LTEXT           "Poznámka: Pro přístup zadejte klíče typu Desktop App z Google Cloud Console.",IDC_STATIC_6,12,153,224,18
END

IDD_CFGPAGECACHE DIALOGEX 66, 53, 250, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "Mezipaměť a synchronizace"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Mezipaměť metadat a synchronizace",IDC_STATIC_1,4,4,242,126
    CONTROL         "&Povolit trvalou mezipaměť metadat na disku",IDC_CFG_CACHE_ENABLED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,16,220,10
    LTEXT           "Frekvence kontroly změn (TTL):",IDC_STATIC_2,12,28,220,8
    COMBOBOX        IDC_CFG_CACHE_INTERVAL_COMBO,12,38,224,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Ctrl+R: Nevynucovat refresh, pokud složka není změněna",IDC_CFG_SMART_CTRL_R,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,54,224,10
    CONTROL         "&Nahrazovat neplatné znaky při stahování na disk",IDC_CFG_SANITIZE_INVALID_CHARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,68,188,10
    LTEXT           "Znak:",IDC_STATIC_5,202,69,18,8
    EDITTEXT        IDC_CFG_SANITIZE_CHAR,222,67,14,12,ES_AUTOHSCROLL
    LTEXT           "Stav mezipaměti: Připraveno (izolováno pro účet)",IDC_CFG_CACHE_STATUS,12,84,220,8
    PUSHBUTTON      "&Vymazat mezipaměť aktivního účtu",IDC_CFG_CACHE_CLEAR_BTN,12,98,140,14

    GROUPBOX        "Informace",IDC_STATIC_3,4,132,242,44
    LTEXT           "Inteligentní mezipaměť zrychluje procházení složek na 0 ms.\nZměny na Google Disku jsou detekovány přes Changes API bez zbytečného plošného stahování celých složek.",IDC_STATIC_4,12,142,224,30
END

IDD_AUTH_PROGRESS DIALOGEX 0, 0, 230, 95
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Přihlášení ke Google Disku"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Dokončete prosím přihlášení ve svém webovém prohlížeči...",IDC_AUTH_BROWSER_MSG,15,15,200,20
    CONTROL         "",IDC_AUTH_PROGRESS_BAR,"msctls_progress32",WS_BORDER,15,40,200,12
    LTEXT           "Čekám na autorizaci...",IDC_AUTH_STATUS_LABEL,15,58,200,8
    PUSHBUTTON      "Zrušit",IDCANCEL,85,72,60,14
END

IDD_CALC_SIZE_PROGRESS DIALOGEX 0, 0, 240, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Výpočet velikosti složky"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Prohledávám:",IDC_STATIC_1,15,12,50,8
    LTEXT           "",IDC_CALC_CURRENT_FOLDER,70,12,155,8,SS_PATHELLIPSIS
    LTEXT           "Podsložky:",IDC_STATIC_2,15,26,50,8
    LTEXT           "0",IDC_CALC_DIRS_COUNT,70,26,155,8
    LTEXT           "Soubory:",IDC_STATIC_3,15,40,50,8
    LTEXT           "0",IDC_CALC_FILES_COUNT,70,40,155,8
    LTEXT           "Celková velikost:",IDC_STATIC_4,15,54,55,8
    LTEXT           "0 B",IDC_CALC_TOTAL_SIZE,70,54,155,8
    CONTROL         "",IDC_CALC_PROGRESS_BAR,"msctls_progress32",WS_BORDER,15,68,210,12
    PUSHBUTTON      "Zrušit",IDCANCEL,90,88,60,14
END

IDD_TRANSFER_PROGRESS DIALOGEX 0, 0, 260, 105
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Přenos Google Disk"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Probíhá přenos:",IDC_TRANSFER_ACTION_LABEL,15,12,230,8
    LTEXT           "",IDC_TRANSFER_FILENAME,15,24,230,8,SS_PATHELLIPSIS
    CONTROL         "",IDC_TRANSFER_PROGRESSBAR,"msctls_progress32",WS_BORDER,15,38,230,12
    LTEXT           "",IDC_TRANSFER_BYTES,15,54,140,8
    RTEXT           "",IDC_TRANSFER_SPEED,160,54,85,8
    PUSHBUTTON      "Zrušit",IDCANCEL,100,78,60,14
END

IDD_OVERWRITE_CONFLICT DIALOGEX 0, 0, 310, 155
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Konflikt souborů"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            "",IDC_CONFLICT_ICON,15,12,20,20
    LTEXT           "",IDC_CONFLICT_PROMPT,45,12,250,20
    GROUPBOX        "Zdrojový soubor",-1,15,36,280,32
    LTEXT           "",IDC_CONFLICT_SRC_INFO,25,48,260,14,SS_PATHELLIPSIS
    GROUPBOX        "Cílový soubor (existující)",-1,15,72,280,32
    LTEXT           "",IDC_CONFLICT_DST_INFO,25,84,260,14,SS_PATHELLIPSIS
    CONTROL         "&Použít pro všechny zbývající konflikty",IDC_CONFLICT_APPLY_ALL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,110,200,10
    DEFPUSHBUTTON   "&Přepsat",IDC_CONFLICT_BTN_OVERWRITE,15,130,65,14
    PUSHBUTTON      "&Ponechat oba",IDC_CONFLICT_BTN_KEEPBOTH,85,130,65,14
    PUSHBUTTON      "Pře&skočit",IDC_CONFLICT_BTN_SKIP,155,130,65,14
    PUSHBUTTON      "Zrušit",IDCANCEL,230,130,65,14
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_PLUGINNAME              "Google Disk"
    IDS_ABOUT                   "O pluginu Google Disk"
    IDS_PLUGIN_DESCRIPTION      "Plugin pro práci s Google Diskem v Open Salamanderu"
    IDS_PLUGIN_HOME             "https://github.com/manison/OpenSalamander"
    IDS_PLUGIN_BUGREP           "https://github.com/manison/OpenSalamander/issues"
    IDS_PLUGIN_EMAIL            "filip.novak@gmail.com"
    IDS_CFG_ALREADY_OPENED      "Konfigurační dialog je již otevřen."
    IDS_CFG_TITLE               "Nastavení pluginu Google Disk"
    IDS_REQUIRE_SAL500          "Tento plugin vyžaduje Open Salamander 5.0 nebo novější."

    IDS_MENU_CONNECT            "&Otevřít Google Disk\tAlt+F1/F2"
    IDS_MENU_DISCONNECT         "&Odpojit / Odhlásit"
    IDS_MENU_REFRESH            "&Obnovit Google Disk\tCtrl+R"
    IDS_MENU_CONFIG             "&Nastavení..."
    IDS_MENU_ABOUT              "&O aplikaci..."
    IDS_MENU_CALC_SIZE          "&Spočítat velikost složky..."

    IDS_STATUS_CONNECTING       "Připojuji ke Google Disku..."
    IDS_STATUS_DOWNLOADING      "Stahuji z Google Disku..."
    IDS_STATUS_AUTH_REQUIRED    "Pro přístup ke Google Disku je vyžadováno přihlášení."
    IDS_STATUS_AUTH_SUCCESS     "Přihlášení ke Google Disku bylo úspěšné!"
    IDS_STATUS_AUTH_FAILED      "Přihlášení ke Google Disku selhalo."
    IDS_AUTH_PROMPT_MSG         "Pro přístup ke Google Disku se prosím přihlaste přes webový prohlížeč."
    IDS_AUTH_WAITING_BROWSER    "Čekám na dokončení přihlášení v prohlížeči..."
    IDS_ERR_NETWORK             "Chyba sítě při komunikaci s Google Diskem."
    IDS_ERR_HTTP                "HTTP chyba Google Disku: %d"
    IDS_ERR_AUTH_CANCELLED      "Přihlášení bylo zrušeno."
    IDS_ERR_PATH_NOT_FOUND      "Cesta na Google Disku nebyla nalezena: %s"
    IDS_DOWNLOAD_PROGRESS_FMT   "Stahuji %s (%s / %s)..."
    IDS_CONFIRM_DISCONNECT      "Opravdu se chcete odhlásit a vymazat uložené přihlašovací údaje?"
    IDS_LOGGED_IN_AS            "Přihlášen jako: %s"
    IDS_NOT_LOGGED_IN           "Nepřihlášen"
    IDS_MY_DRIVE                "Můj disk"
    IDS_SHARED_DRIVES           "Sdílené disky"
    IDS_SHARED_WITH_ME          "Sdíleno se mnou"
    IDS_EXPORT_DOCX             "Exportuji Google Dokument do formátu Word (.docx)..."
    IDS_EXPORT_XLSX             "Exportuji Google Tabulku do formátu Excel (.xlsx)..."
    IDS_EXPORT_PPTX             "Exportuji Google Prezentaci do formátu PowerPoint (.pptx)..."
    IDS_EXPORT_PDF              "Exportuji do formátu PDF (.pdf)..."
    IDS_ERR_NO_CLIENT_ID        "Není nakonfigurováno OAuth Client ID.\n\nOtevřete prosím Konfiguraci pluginu Google Disk a zadejte své Client ID a Client Secret z Google Cloud Console."
    IDS_CALC_TITLE              "Velikost složky na Google Disku"
    IDS_CALC_RESULT_FMT         "Položka: %s\n\nPočet podsložek: %d\nPočet souborů: %d\n\nCelková velikost: %s (%s bajtů)"
    IDS_CALC_CANCELLED_FMT      "Výpočet byl přerušen uživatelem.\n\nPoložka: %s\n\nNalezeno podsložek: %d\nNalezeno souborů: %d\n\nZjištěná velikost: %s (%s bajtů)"
    IDS_ERR_CANNOT_CREATE_DIR_ROOT           "V kořenovém zobrazení nelze vytvářet složky. Nejprve prosím otevřete 'Můj disk' nebo konkrétní složku."
    IDS_ERR_CANNOT_CREATE_DIR_SHARED_WITH_ME "Ve složce 'Sdíleno se mnou' nelze vytvářet nové složky."
    IDS_ERR_CANNOT_CREATE_DIR_SHARED_DRIVES  "V přehledu 'Sdílené disky' nelze přímo vytvářet složky. Otevřete konkrétní sdílený disk."
    IDS_ERR_CANNOT_RENAME_ROOT               "Virtuální nebo kořenové složky nelze přejmenovat."
    IDS_ERR_CANNOT_DELETE_ROOT               "Virtuální nebo kořenové složky nelze smazat."
    IDS_CONFIRM_DELETE_TRASH_SINGLE          "Přesunout '%s' do Koše Google Disku?"
    IDS_CONFIRM_DELETE_TRASH_MULTI           "Přesunout vybrané položky (%d) do Koše Google Disku?"
    IDS_CONFIRM_DELETE_PERM_SINGLE           "Trvale smazat '%s' z Google Disku?\n\nUpozornění: Tuto operaci nelze vrátit zpět!"
    IDS_CONFIRM_DELETE_PERM_MULTI            "Trvale smazat vybrané položky (%d) z Google Disku?\n\nUpozornění: Tuto operaci nelze vrátit zpět!"
    IDS_UPLOAD_PROGRESS_FMT                  "Nahrávám %s (%s / %s)..."
    IDS_STATUS_UPLOADING                     "Nahrávám na Google Disk..."
    IDS_ERR_CANNOT_UPLOAD_ROOT               "Do kořenového zobrazení nelze přímo nahrávat soubory. Nejprve prosím otevřete 'Můj disk' nebo konkrétní složku."
    IDS_MENU_OPEN_IN_BROWSER    "&Otevřít ve webovém prohlížeči"
    IDS_MENU_COPY_LINK          "&Kopírovat odkaz do schránky"
    IDS_MENU_ADD_STAR           "&Přidat hvězdičku (Oblíbené)"
    IDS_MENU_REMOVE_STAR        "&Odebrat hvězdičku"
    IDS_MENU_RESTORE_TRASH      "&Obnovit z koše"
    IDS_MENU_EMPTY_TRASH        "&Vysypat koš..."
    IDS_STARRED                 "S hvězdičkou"
    IDS_TRASH                   "Koš"
    IDS_RECENT                  "Nedávné"
    IDS_LINK_COPIED             "Webový odkaz byl zkopírován do schránky."
    IDS_CONFIRM_EMPTY_TRASH     "Opravdu chcete trvale smazat všechny položky v Koši?\n\nUpozornění: Tuto operaci nelze vrátit zpět!"
    IDS_CFG_PAGE_GENERAL        "Účty a obecné"
    IDS_CFG_PAGE_CACHE          "Mezipaměť a synchronizace"
    IDS_CACHE_CLEARED           "Místní mezipaměť aktivního účtu byla vymazána."
    IDS_CONFIRM_REMOVE_ACCOUNT  "Opravdu chcete odebrat účet '%s' a jeho lokální mezipaměť?"
    IDS_TTL_10SEC               "10 sekund (Vysoká přesnost)"
    IDS_TTL_30SEC               "30 sekund (Doporučeno)"
    IDS_TTL_1MIN                "1 minuta"
    IDS_TTL_5MIN                "5 minut"
    IDS_TTL_MANUAL              "Pouze ručně (Ctrl+R)"
    IDS_MENU_SWITCH_ACCOUNT     "Přepnout &účet"
    IDS_MENU_ADD_ACCOUNT        "&Přidat nový účet..."
    IDS_TRANSFER_DOWNLOADING    "Stahuji:"
    IDS_TRANSFER_UPLOADING      "Nahrávám:"
    IDS_TRANSFER_CANCEL         "Přenos byl zrušen uživatelem."
    IDS_TRANSFER_SPEED_FMT      "%.2f MB/s"
    IDS_TRANSFER_BYTES_FMT      "%s z %s (%d%%)"
    IDS_TRANSFER_DELETING       "Mazání:"
    IDS_BTN_SAVE_KEYS           "&Uložit klíče"
    IDS_KEYS_SAVED              "OAuth Client ID a Secret byly uloženy pro vybraný účet."
    IDS_PROMPT_OVERWRITE_FILE   "Cílový soubor již existuje:\n\n%s\n\nChcete jej přepsat?"
    IDS_PROMPT_OVERWRITE_TITLE  "Potvrdit přepsání souboru"
    IDS_PROMPT_OVERWRITE_GDRIVE "Soubor '%s' již v cílové složce na Google Disku existuje.\n\nChcete existující soubor přepsat (aktualizovat)?"
    IDS_CFG_CACHE_ACTIVE_FMT    "Aktivní účet: %s (izolovaná mezipaměť)"
    IDS_CFG_CACHE_NO_ACTIVE     "Žádný aktivní účet"
    IDS_BUTTON_OK               "OK"
    IDS_BUTTON_CANCEL           "Zrušit"
    IDS_BUTTON_HELP             "Nápověda"
    IDS_ERR_CANNOT_GET_ITEM_ID  "Nelze zjistit identifikátor této položky."
    IDS_PROPERTIES_TITLE        "Vlastnosti"
    IDS_PROPERTIES_FMT          "Název: %s\nTyp: %s\nVelikost: %llu B\nCesta: %s"
    IDS_DOWNLOAD_FAILED         "Nepodařilo se stáhnout soubor."
    IDS_STORAGE_INFO_FMT        "Účet: %s (%s)\n\nÚložiště Google Disk:\nVyužito: %.2f GB z %.2f GB (%.1f %%)\nKoš: %.2f MB"
    IDS_STORAGE_UNLIMITED_FMT   "Účet: %s (%s)\n\nÚložiště Google Disk:\nVyužito: %.2f GB (Neomezená kvóta)"
    IDS_CONFLICT_TITLE          "Konflikt souborů"
    IDS_CONFLICT_PROMPT_UPLOAD  "Soubor se stejným názvem již v cílové složce na Google Disku existuje:"
    IDS_CONFLICT_PROMPT_DOWNLOAD "Soubor se stejným názvem již v cílovém lokálním adresáři existuje:"
    IDS_CONFLICT_SRC_FMT        "Zdroj: %s (%s)"
    IDS_CONFLICT_DST_FMT        "Cíl: %s (%s)"
    IDS_CONFLICT_BTN_OVERWRITE  "&Přepsat"
    IDS_CONFLICT_BTN_KEEPBOTH   "&Ponechat oba"
    IDS_CONFLICT_BTN_SKIP       "Pře&skočit"
    IDS_CONFLICT_APPLY_ALL      "&Použít pro všechny zbývající konflikty"
END

#endif // Czech resources

#ifndef APSTUDIO_INVOKED
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CSY)
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT
#include "lang_cs.rc2"
#endif
#endif
