// SPDX-FileCopyrightText: 2026 fila73
// SPDX-FileContributor: Inspired by Red Salamander
// SPDX-License-Identifier: GPL-2.0-or-later

#pragma code_page(65001)

#include "lang.rh"

#define APSTUDIO_READONLY_SYMBOLS
#include "winresrc.h"
#include "../gdrive.rh2"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE 
BEGIN
    "lang.rh\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winresrc.h""\r\n"
    "#include ""../gdrive.rh2""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)\r\n"
    "LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US\r\n"
    "#include ""lang_en.rc2""\r\n"
    "#endif\r\n"
    "\0"
END
#endif // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CFGPAGEGENERAL DIALOGEX 66, 53, 250, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "Accounts && General"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Google Accounts",IDC_STATIC_1,4,4,242,76
    LTEXT           "Active Account:",IDC_STATIC_2,12,18,55,8
    COMBOBOX        IDC_CFG_ACCOUNTS_COMBO,70,16,166,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Add Account...",IDC_CFG_ACCOUNT_ADD_BTN,12,34,68,14
    PUSHBUTTON      "&Set Active",IDC_CFG_ACCOUNT_SWITCH_BTN,84,34,68,14
    PUSHBUTTON      "&Remove",IDC_CFG_ACCOUNT_REMOVE_BTN,156,34,68,14
    CONTROL         "&Include Shared Drives (Team Drives)",IDC_CFG_USE_SHARED_DRIVES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,58,220,10

    GROUPBOX        "Custom OAuth 2.0 Client",IDC_STATIC_3,4,84,242,92
    LTEXT           "OAuth &Client ID:",IDC_STATIC_4,12,96,80,8
    EDITTEXT        IDC_CFG_CLIENTID,12,107,224,14,ES_AUTOHSCROLL
    LTEXT           "OAuth Client &Secret:",IDC_STATIC_5,12,124,80,8
    EDITTEXT        IDC_CFG_CLIENTSECRET,12,135,156,14,ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON      "&Save Keys",IDC_CFG_ACCOUNT_SAVE_BTN,174,135,62,14
    LTEXT           "Note: To use custom keys, create a Desktop App in Google Cloud Console.",IDC_STATIC_6,12,153,224,18
END

IDD_CFGPAGECACHE DIALOGEX 66, 53, 250, 180
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "Cache && Sync"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Metadata Cache & Sync",IDC_STATIC_1,4,4,242,126
    CONTROL         "&Enable persistent metadata cache on disk",IDC_CFG_CACHE_ENABLED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,16,220,10
    LTEXT           "Changes check frequency (TTL):",IDC_STATIC_2,12,28,220,8
    COMBOBOX        IDC_CFG_CACHE_INTERVAL_COMBO,12,38,224,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Ctrl+R: Do not force reload if current folder is unchanged",IDC_CFG_SMART_CTRL_R,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,54,224,10
    CONTROL         "&Sanitize incompatible Windows characters on download",IDC_CFG_SANITIZE_INVALID_CHARS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,68,188,10
    LTEXT           "With:",IDC_STATIC_5,202,69,18,8
    EDITTEXT        IDC_CFG_SANITIZE_CHAR,222,67,14,12,ES_AUTOHSCROLL
    LTEXT           "Cache status: Ready (Isolated per account)",IDC_CFG_CACHE_STATUS,12,84,220,8
    PUSHBUTTON      "&Clear Cache for Active Account",IDC_CFG_CACHE_CLEAR_BTN,12,98,140,14

    GROUPBOX        "Information",IDC_STATIC_3,4,132,242,44
    LTEXT           "The smart cache dramatically speeds up folder browsing.\nChanges on Google Drive are detected using the Changes API without unnecessary full folder re-downloads.",IDC_STATIC_4,12,142,224,30
END

IDD_AUTH_PROGRESS DIALOGEX 0, 0, 230, 95
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Google Drive Sign In"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Please complete sign-in in your web browser...",IDC_AUTH_BROWSER_MSG,15,15,200,20
    CONTROL         "",IDC_AUTH_PROGRESS_BAR,"msctls_progress32",WS_BORDER,15,40,200,12
    LTEXT           "Waiting for authorization...",IDC_AUTH_STATUS_LABEL,15,58,200,8
    PUSHBUTTON      "Cancel",IDCANCEL,85,72,60,14
END

IDD_CALC_SIZE_PROGRESS DIALOGEX 0, 0, 240, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Calculate Folder Size"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Scanning:",IDC_STATIC_1,15,12,50,8
    LTEXT           "",IDC_CALC_CURRENT_FOLDER,70,12,155,8,SS_PATHELLIPSIS
    LTEXT           "Folders:",IDC_STATIC_2,15,26,50,8
    LTEXT           "0",IDC_CALC_DIRS_COUNT,70,26,155,8
    LTEXT           "Files:",IDC_STATIC_3,15,40,50,8
    LTEXT           "0",IDC_CALC_FILES_COUNT,70,40,155,8
    LTEXT           "Total size:",IDC_STATIC_4,15,54,55,8
    LTEXT           "0 B",IDC_CALC_TOTAL_SIZE,70,54,155,8
    CONTROL         "",IDC_CALC_PROGRESS_BAR,"msctls_progress32",WS_BORDER,15,68,210,12
    PUSHBUTTON      "Cancel",IDCANCEL,90,88,60,14
END

IDD_TRANSFER_PROGRESS DIALOGEX 0, 0, 260, 138
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Google Drive Transfer"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Transferring:",IDC_TRANSFER_ACTION_LABEL,15,10,230,8
    LTEXT           "",IDC_TRANSFER_FILENAME,15,22,230,8,SS_PATHELLIPSIS
    CONTROL         "",IDC_TRANSFER_PROGRESSBAR,"msctls_progress32",WS_BORDER,15,34,230,12
    LTEXT           "",IDC_TRANSFER_BYTES,15,48,140,8
    RTEXT           "",IDC_TRANSFER_SPEED,160,48,85,8

    LTEXT           "Total progress:",IDC_TRANSFER_TOTAL_LABEL,15,64,230,8
    CONTROL         "",IDC_TRANSFER_TOTAL_PROGRESSBAR,"msctls_progress32",WS_BORDER,15,76,230,12
    LTEXT           "",IDC_TRANSFER_TOTAL_BYTES,15,90,140,8
    RTEXT           "",IDC_TRANSFER_TOTAL_FILES,160,90,85,8

    PUSHBUTTON      "Cancel",IDCANCEL,100,114,60,14
END

IDD_OVERWRITE_CONFLICT DIALOGEX 0, 0, 310, 175
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "File Conflict"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            "",IDC_CONFLICT_ICON,15,12,20,20
    LTEXT           "",IDC_CONFLICT_PROMPT,45,12,250,20
    GROUPBOX        "Source File",-1,15,36,280,32
    LTEXT           "",IDC_CONFLICT_SRC_INFO,25,48,260,14,SS_PATHELLIPSIS
    GROUPBOX        "Destination File (Existing)",-1,15,72,280,32
    LTEXT           "",IDC_CONFLICT_DST_INFO,25,84,260,14,SS_PATHELLIPSIS
    LTEXT           "Overwrite scope:",IDC_CONFLICT_DUPLICATES_LABEL,15,112,85,8
    COMBOBOX        IDC_CONFLICT_DUPLICATES_COMBO,105,110,190,70,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Apply to all remaining conflicts",IDC_CONFLICT_APPLY_ALL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,130,200,10
    DEFPUSHBUTTON   "&Overwrite",IDC_CONFLICT_BTN_OVERWRITE,15,150,65,14
    PUSHBUTTON      "&Keep Both",IDC_CONFLICT_BTN_KEEPBOTH,85,150,65,14
    PUSHBUTTON      "&Skip",IDC_CONFLICT_BTN_SKIP,155,150,65,14
    PUSHBUTTON      "Cancel",IDCANCEL,230,150,65,14
END

IDD_FIND DIALOGEX 0, 0, 380, 270
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Find - Google Drive"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Named:",-1,10,12,35,8
    COMBOBOX        IDC_FIND_NAMED,50,10,240,120,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "F&ind Now",IDC_FIND_BTN_FINDNOW,300,9,70,14
    PUSHBUTTON      "&Stop",IDC_FIND_BTN_STOP,300,9,70,14,NOT WS_VISIBLE

    LTEXT           "&Look in:",-1,10,30,35,8
    COMBOBOX        IDC_FIND_LOOKIN,50,28,240,100,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Browse...",IDC_FIND_LOOKIN_BROWSE,300,27,70,14

    CONTROL         "Search &subdirectories",IDC_FIND_INCLUDE_SUBDIR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,50,46,120,10

    CONTROL         "Sea&rch file content",IDC_FIND_GREP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,60,80,10
    CONTROL         "",IDC_FIND_LINE1,"Static",SS_ETCHEDHORZ | WS_GROUP,95,65,275,1

    LTEXT           "&Containing:",-1,10,76,40,8
    COMBOBOX        IDC_FIND_CONTAINING,50,74,240,100,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP

    CONTROL         "Search &Docs / PDF / OCR",IDC_FIND_DOCS_OCR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,50,92,120,10
    CONTROL         "Case sensi&tive",IDC_FIND_CASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,180,92,70,10

    PUSHBUTTON      "A&dvanced...",IDC_FIND_ADVANCED,10,110,60,14
    LTEXT           "All item types (Active account)",IDC_FIND_ADVANCED_TEXT,75,113,295,10,SS_PATHELLIPSIS

    CONTROL         "",IDC_FIND_LINE2,"Static",SS_ETCHEDHORZ | WS_GROUP,0,132,380,1

    PUSHBUTTON      "&Focus",IDC_FIND_BTN_FOCUS,10,138,50,14
    PUSHBUTTON      "&View (F3)",IDC_FIND_BTN_VIEW,65,138,50,14
    PUSHBUTTON      "&Open in Web",IDC_FIND_BTN_OPENWEB,120,138,60,14
    PUSHBUTTON      "&Copy Link",IDC_FIND_BTN_COPYLINK,185,138,55,14
    RTEXT           "Found items: 0",IDC_FIND_FOUND_COUNT,250,141,120,8

    CONTROL         "",IDC_FIND_RESULTS,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,10,156,360,95
    LTEXT           "Specify find options and click Find Now.",IDC_FIND_STATUS,10,256,360,10,SS_PATHELLIPSIS
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_PLUGINNAME              "Google Drive"
    IDS_ABOUT                   "About Google Drive Plugin"
    IDS_PLUGIN_DESCRIPTION      "Google Drive Filesystem Plugin for Open Salamander"
    IDS_PLUGIN_HOME             "https://github.com/manison/OpenSalamander"
    IDS_PLUGIN_BUGREP           "https://github.com/manison/OpenSalamander/issues"
    IDS_PLUGIN_EMAIL            "filip.novak@gmail.com"
    IDS_CFG_ALREADY_OPENED      "Configuration dialog is already open."
    IDS_CFG_TITLE               "Google Drive Configuration"
    IDS_REQUIRE_SAL500          "This plugin requires Open Salamander 5.0 or later."

    IDS_MENU_CONNECT            "&Open Google Drive\tAlt+F1/F2"
    IDS_MENU_DISCONNECT         "&Disconnect Google Drive"
    IDS_MENU_REFRESH            "&Refresh\tCtrl+R"
    IDS_MENU_CONFIG             "&Configuration..."
    IDS_MENU_ABOUT              "&About Plugin..."
    IDS_MENU_CALC_SIZE          "Calculate &Occupied Space\tSpace"
    IDS_MENU_OPEN_IN_BROWSER    "Open in &Browser"
    IDS_MENU_COPY_LINK          "&Copy Web Link"
    IDS_MENU_ADD_STAR           "Add &Star"
    IDS_MENU_REMOVE_STAR        "Remove &Star"
    IDS_MENU_RESTORE_TRASH      "&Restore from Trash"
    IDS_MENU_EMPTY_TRASH        "&Empty Trash..."

    IDS_STATUS_CONNECTING       "Connecting to Google Drive..."
    IDS_STATUS_DOWNLOADING      "Downloading from Google Drive..."
    IDS_STATUS_AUTH_REQUIRED    "Authentication required. Opening browser..."
    IDS_STATUS_AUTH_SUCCESS     "Authentication successful."
    IDS_STATUS_AUTH_FAILED      "Authentication failed."
    IDS_AUTH_PROMPT_MSG         "Please sign in with Google in your browser..."
    IDS_AUTH_WAITING_BROWSER    "Waiting for authorization from browser..."
    IDS_ERR_NETWORK             "Network error: %s"
    IDS_ERR_HTTP                "HTTP %d: %s"
    IDS_ERR_AUTH_CANCELLED      "Authentication cancelled by user."
    IDS_ERR_PATH_NOT_FOUND      "The specified path was not found on Google Drive."
    IDS_DOWNLOAD_PROGRESS_FMT   "Downloading %s (%s of %s)..."
    IDS_CONFIRM_DISCONNECT      "Are you sure you want to disconnect from Google Drive?"
    IDS_LOGGED_IN_AS            "Connected as: %s"
    IDS_NOT_LOGGED_IN           "Not connected"
    IDS_MY_DRIVE                "My Drive"
    IDS_SHARED_DRIVES           "Shared Drives"
    IDS_SHARED_WITH_ME          "Shared with me"
    IDS_EXPORT_DOCX             "Word Document (.docx)"
    IDS_EXPORT_XLSX             "Excel Spreadsheet (.xlsx)"
    IDS_EXPORT_PPTX             "PowerPoint Presentation (.pptx)"
    IDS_EXPORT_PDF              "PDF Document (.pdf)"
    IDS_ERR_NO_CLIENT_ID        "OAuth Client ID is not configured. Please set it in Configuration."
    IDS_CALC_TITLE              "Google Drive Occupied Space"
    IDS_CALC_RESULT_FMT         "Folder: %s\n\nSubfolders: %d\nFiles: %d\n\nTotal Size: %s (%s bytes)"
    IDS_CALC_CANCELLED_FMT      "Calculation cancelled by user.\n\nFolder: %s\n\nSubfolders found: %d\nFiles found: %d\n\nScanned Size: %s (%s bytes)"
    IDS_ERR_CANNOT_CREATE_DIR_ROOT           "Cannot create folders in the root view. Please open 'My Drive' or a Shared Drive first."
    IDS_ERR_CANNOT_CREATE_DIR_SHARED_WITH_ME "Cannot create folders in 'Shared with me'. This view is managed by Google Drive."
    IDS_ERR_CANNOT_CREATE_DIR_SHARED_DRIVES  "Cannot create folders directly in 'Shared Drives'. Please create a new Shared Drive via Google Drive web interface."
    IDS_ERR_CANNOT_RENAME_ROOT               "Root folders cannot be renamed."
    IDS_ERR_CANNOT_DELETE_ROOT               "Root folders cannot be deleted."
    IDS_CONFIRM_DELETE_TRASH_SINGLE          "Do you want to move '%s' to Trash?"
    IDS_CONFIRM_DELETE_TRASH_MULTI           "Do you want to move the %d selected items to Trash?"
    IDS_CONFIRM_DELETE_PERM_SINGLE           "Do you want to PERMANENTLY delete '%s'?\n\nWarning: This operation cannot be undone!"
    IDS_CONFIRM_DELETE_PERM_MULTI            "Do you want to PERMANENTLY delete the %d selected items?\n\nWarning: This operation cannot be undone!"
    IDS_UPLOAD_PROGRESS_FMT                  "Uploading %s (%s of %s)..."
    IDS_STATUS_UPLOADING                     "Uploading to Google Drive..."
    IDS_ERR_CANNOT_UPLOAD_ROOT               "Cannot upload files directly to the root view. Please open 'My Drive' or a specific folder first."
    IDS_STARRED                              "Starred"
    IDS_TRASH                                "Trash"
    IDS_RECENT                               "Recent"
    IDS_LINK_COPIED                          "Web link copied to clipboard."
    IDS_CONFIRM_EMPTY_TRASH     "Are you sure you want to permanently delete all items in Trash?\n\nWarning: This operation cannot be undone!"
    IDS_CFG_PAGE_GENERAL        "Accounts && General"
    IDS_CFG_PAGE_CACHE          "Cache && Sync"
    IDS_CACHE_CLEARED           "Local cache for active account was cleared."
    IDS_CONFIRM_REMOVE_ACCOUNT  "Are you sure you want to remove account '%s' and its local cache?"
    IDS_TTL_10SEC               "10 seconds (High precision)"
    IDS_TTL_30SEC               "30 seconds (Recommended)"
    IDS_TTL_1MIN                "1 minute"
    IDS_TTL_5MIN                "5 minutes"
    IDS_TTL_MANUAL              "Manual only (Ctrl+R)"
    IDS_MENU_SWITCH_ACCOUNT     "Switch &Account"
    IDS_MENU_ADD_ACCOUNT        "&Add New Account..."
    IDS_TRANSFER_DOWNLOADING    "Downloading:"
    IDS_TRANSFER_UPLOADING      "Uploading:"
    IDS_TRANSFER_CANCEL         "Transfer cancelled by user."
    IDS_TRANSFER_SPEED_FMT      "%.2f MB/s"
    IDS_TRANSFER_BYTES_FMT      "%s of %s (%d%%)"
    IDS_TRANSFER_DELETING       "Deleting:"
    IDS_BTN_SAVE_KEYS           "&Save Keys"
    IDS_KEYS_SAVED              "OAuth Client ID and Secret were saved for the selected account."
    IDS_PROMPT_OVERWRITE_FILE   "Destination file already exists:\n\n%s\n\nDo you want to overwrite it?"
    IDS_PROMPT_OVERWRITE_TITLE  "Confirm File Overwrite"
    IDS_PROMPT_OVERWRITE_GDRIVE "File '%s' already exists in the destination folder on Google Drive.\n\nDo you want to overwrite (update) the existing file?"
    IDS_CFG_CACHE_ACTIVE_FMT    "Active account: %s (Isolated cache)"
    IDS_CFG_CACHE_NO_ACTIVE     "No active account"
    IDS_BUTTON_OK               "OK"
    IDS_BUTTON_CANCEL           "Cancel"
    IDS_BUTTON_HELP             "Help"
    IDS_ERR_CANNOT_GET_ITEM_ID  "Cannot determine identifier for this item."
    IDS_PROPERTIES_TITLE        "Properties"
    IDS_PROPERTIES_FMT          "Name: %s\nType: %s\nSize: %llu B\nPath: %s"
    IDS_DOWNLOAD_FAILED         "Failed to download file."
    IDS_STORAGE_INFO_FMT        "Account: %s (%s)\n\nGoogle Drive Storage:\nUsed: %.2f GB of %.2f GB (%.1f %%)\nTrash: %.2f MB"
    IDS_STORAGE_UNLIMITED_FMT   "Account: %s (%s)\n\nGoogle Drive Storage:\nUsed: %.2f GB (Unlimited quota)"
    IDS_CONFLICT_TITLE          "File Conflict"
    IDS_CONFLICT_PROMPT_UPLOAD  "A file with the same name already exists in the Google Drive destination folder:"
    IDS_CONFLICT_PROMPT_DOWNLOAD "A file with the same name already exists in the local destination directory:"
    IDS_CONFLICT_SRC_FMT        "Source: %s (%s)"
    IDS_CONFLICT_DST_FMT        "Target: %s (%s)"
    IDS_CONFLICT_BTN_OVERWRITE  "&Overwrite"
    IDS_CONFLICT_BTN_KEEPBOTH   "&Keep Both"
    IDS_CONFLICT_BTN_SKIP       "&Skip"
    IDS_CONFLICT_APPLY_ALL      "&Apply to all remaining conflicts"
    IDS_CONFLICT_DUP_LABEL      "Overwrite scope:"
    IDS_CONFLICT_DUP_ALL        "All duplicate files"
    IDS_CONFLICT_DUP_NEWEST     "Newest file only"
    IDS_CONFLICT_DUP_OLDEST     "Oldest file only"
    IDS_CONFLICT_DUP_COUNT_FMT  "%d existing files with this name found on Google Drive."
    IDS_TRANSFER_TOTAL_LABEL    "Total progress:"
    IDS_TRANSFER_TOTAL_FILES_FMT "File %d of %d"
    IDS_TRANSFER_TOTAL_BYTES_FMT "%s of %s (%d%%)"
    IDS_CONFLICT_TITLE_DIR       "Folder Conflict"
    IDS_CONFLICT_PROMPT_UPLOAD_DIR "A folder with the same name already exists in the Google Drive destination folder:"
    IDS_CONFLICT_PROMPT_DOWNLOAD_DIR "A folder with the same name already exists in the local destination directory:"
    IDS_CONFLICT_DUP_COUNT_DIR_FMT "%d existing folders with this name found on Google Drive."
    IDS_CONFLICT_DUP_ALL_DIR     "All duplicate folders"
    IDS_CONFLICT_DUP_NEWEST_DIR  "Newest folder only"
    IDS_CONFLICT_DUP_OLDEST_DIR  "Oldest folder only"
    IDS_CONFLICT_BTN_MERGE       "&Merge"
    IDS_CONFLICT_SRC_DIR_FMT     "Source folder: %s"
    IDS_CONFLICT_DST_DIR_FMT     "Target folder: %s"
    IDS_COL_OWNER                "Owner"
    IDS_COL_OWNER_DESC           "File or folder owner"
    IDS_COL_SHARED               "Shared"
    IDS_COL_SHARED_DESC          "Shared status"
    IDS_COL_STARRED              "Starred"
    IDS_COL_STARRED_DESC         "Starred status (*)"
    IDS_YES                      "Yes"
    IDS_NO                       "No"
    IDS_FIND_TITLE               "Find - Google Drive"
    IDS_FIND_READY               "Specify find options and click Find Now."
    IDS_FIND_SEARCHING           "Searching Google Drive..."
    IDS_FIND_FINISHED_FMT        "Found %d items (finished in %.1fs)."
    IDS_FIND_STOPPED_FMT         "Search stopped by user. Found %d items."
    IDS_FIND_FOUND_FMT           "Found items: %d"
    IDS_FIND_ADVANCED_ALL        "All item types (Active account: %s)"
    IDS_FIND_COL_NAME            "Name"
    IDS_FIND_COL_PATH            "Path"
    IDS_FIND_COL_SIZE            "Size"
    IDS_FIND_COL_DATE            "Date"
    IDS_FIND_COL_TIME            "Time"
    IDS_FIND_COL_OWNER           "Owner"
    IDS_FIND_LOOKIN_ALL_DRIVE    "Entire Google Drive"
END

#endif // English resources

#ifndef APSTUDIO_INVOKED
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#include "lang_en.rc2"
#endif
#endif
